name: docker-build-workflow

on:
  push:
    branches: main
  pull_request:
    branches: main

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

jobs:

  build-container:

    runs-on: ubuntu-latest

    steps:
    
    - uses: actions/checkout@v3
    
    - name: Build the Docker image
      working-directory: todo_app
      run: docker build . --file todo_app/Dockerfile --tag new-todo:$(date +%s)
