name: Push Docker Image to GitHub Container Registry

on:
  push:
    branches:
      - main

env:
  CR_PAT: ${{ secrets.CR_PAT }}

jobs:
  push-docker-image:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v2

      - name: Login to GitHub Container Registry
        run: docker login ghcr.io -u kalpanamamnani16@gmail.com -p $CR_PAT

      - name: Build Docker image
        run: docker build -t ghcr.io/kalpanamamnani/new-todo:latest .

      - name: Push Docker image
        run: docker push ghcr.io/kalpanamamnani/new-todo:latest
